<div class="container-fluid">
  <app-page-title
    title="Home Management"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-primary">Home set list</h4>

          <div class="row mb-2">
            <div class="col-md-6">
              <!-- <fieldset>
                <div class="col-md-12">
                  <input type="radio" class="radio" name="x" value="y" id="y" />
                  <label for="y">Mon</label>
                  <input type="radio" class="radio" name="x" value="z" id="z" />
                  <label for="z">Tue</label>
                  <input type="radio" class="radio" name="x" value="z" id="z" />
                  <label for="z">Wed</label>
                  <input type="radio" class="radio" name="x" value="z" id="z" />
                  <label for="z">Thurs</label>
                  <input type="radio" class="radio" name="x" value="z" id="z" />
                  <label for="z">Fri</label>
                  <input type="radio" class="radio" name="x" value="z" id="z" />
                  <label for="z">Sat</label>
                  <input type="radio" class="radio" name="x" value="z" id="z" />
                  <label for="z">Sun</label>
                </div>
              </fieldset> -->
              <div class="inline-checkbox">
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input radio" id="customCheck1" checked="true">
                  <label class="custom-control-label" for="customCheck1">Mon</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input radio" id="customCheck2" checked="true">
                  <label class="custom-control-label" for="customCheck2">Tues</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input radio" id="customCheck3" checked="true">
                  <label class="custom-control-label" for="customCheck3">Wed</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input radio" id="customCheck4" checked="true">
                  <label class="custom-control-label" for="customCheck4">Thurs</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input radio" id="customCheck5" checked="true">
                  <label class="custom-control-label" for="customCheck5">Fri</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input radio" id="customCheck6" checked="true">
                  <label class="custom-control-label" for="customCheck6">Sat</label>
                </div>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input radio" id="customCheck7" checked="true">
                  <label class="custom-control-label" for="customCheck7">Sun</label>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-sm-right">
                <button
                  type="button"
                  class="btn btn-success btn-rounded mb-2 mr-2"
                  target="_blank"
                  routerLink="add"
                >
                  <i class="mdi mdi-plus mr-1"></i> Create New
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <ngx-datatable
              class="material"
              [rows]="rows"
              [loadingIndicator]="loading"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [limit]="10"
            >
              <ngx-datatable-column name="Home Set Name">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.home_set_name }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="List Count">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.list_count }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Airing Days In Week">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span
                    class="airingDays"
                    *ngIf="
                      row.air_mon ||
                      row.air_tue ||
                      row.air_wed ||
                      row.air_thurs ||
                      row.air_fri ||
                      row.air_sat ||
                      row.air_sun
                    "
                  >
                    <span class="badge badge-primary mr-1">{{
                      row.air_mon ? "Mon" : ""
                    }}</span>
                    <span class="badge badge-primary mr-1">{{
                      row.air_tue ? "Tue" : ""
                    }}</span>
                    <span class="badge badge-primary mr-1">{{
                      row.air_wed ? "Wed" : ""
                    }}</span>
                    <span class="badge badge-primary mr-1">{{
                      row.air_thurs ? "Thurs" : ""
                    }}</span>
                    <span class="badge badge-primary mr-1">{{
                      row.air_fri ? "Fri" : ""
                    }}</span>
                    <span class="badge badge-primary mr-1">{{
                      row.air_sat ? "Sat" : ""
                    }}</span>
                    <span class="badge badge-primary mr-1">{{
                      row.air_sun ? "Sun" : ""
                    }}</span>
                  </span>
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Start Time">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.start_time }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="End Time">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.end_time }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="button-items">
                    <button
                      type="button"
                      class="btn btn-primary"
                      routerLink="config"
                    >
                      Config
                    </button>
                    <button type="button" class="btn btn-danger">
                      Delete
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- End table -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->
