// .button-items {
//   display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

.airingDays {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
}

fieldset {
    overflow: hidden
  }
  
  .some-class {
    float: left;
    clear: none;
  }
  
  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1.2rem 0px 4px;
  }
  
  input[type=radio],
  input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
  }

  .inline-checkbox {
    display: inline-flex;
  }