// table tr { display: table-cell; padding: 1rem;};
table { 
  // border-spacing: 10px;
  border-collapse: separate;
  display: flex;
}

td {
  padding: 16px;
}

thead {
  padding: 15px;
}

.bx-calendar:before {
  font-size: 18px;
}
