// table tr { display: table-cell; padding: 1rem;};
table { 
  // border-spacing: 10px;
  border-collapse: separate;
  display: flex;
}

td {
  padding: 16px;
}

thead {
  padding: 15px;
}

.bx-calendar:before {
  font-size: 18px;
}

.edit-category {
  float: right;
  margin-top: 5px;
}

.datatables thead tr th:after {
  content: unset;
}

.datatables thead tr th:before {
  content: unset;
}
