<div class="container-fluid">
  <app-page-title
    title="Bracter Management"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-primary">Bracter set list</h4>

          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="input-group">
                <input
                  id="toDate"
                  class="form-control"
                  placeholder="yyyy-mm-dd"
                  name="dp2"
                  ngbDatepicker
                  #dp2="ngbDatepicker"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-outline-secondary bx bx-calendar"
                    (click)="dp2.toggle()"
                    type="button"
                  ></button>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-right">
                <button
                  type="button"
                  class="btn btn-success btn-rounded mb-2 mr-2"
                  target="_blank"
                  routerLink="config"
                >
                  <i class="mdi mdi-plus mr-1"></i> Create New
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <!-- Table -->
          <div class="table-responsive">
            <table
              id="basic-datatable"
              class="table table-bordered dt-responsive nowrap datatables no-footer dtr-inline"
            >
              <thead *ngFor="let table of tables$ | async">
                <tr style="text-align: center;">
                  <th colspan="2" class="text-primary">
                    <a
                      [routerLink]="['/home']"
                      routerLinkActive="router-link-active"
                      ><ngb-highlight
                        [result]="table.category"
                        [term]="advancedService.searchTerm"
                      ></ngb-highlight
                    ></a>
                  </th>
                </tr>
                <tr style="text-align: center;">
                  <td>
                    <ngb-highlight
                      [result]="table.programName"
                      [term]="advancedService.searchTerm"
                    ></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight
                      [result]="table.viewNumber"
                      [term]="advancedService.searchTerm"
                    ></ngb-highlight>
                  </td>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
          <!-- End table -->
          <div
            class="row justify-content-md-between align-items-md-center mt-2"
          >
            <div class="col-sm-12 col-md-5">
              <div
                class="dataTables_info mb-2"
                id="tickets-table_info"
                role="status"
                aria-live="polite"
              >
                Showing {{ advancedService.startIndex }} to
                {{ advancedService.endIndex }} of
                {{ advancedService.totalRecords }}
                entries
              </div>
            </div>
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded">
                <ngb-pagination
                  [collectionSize]="total$ | async"
                  [(page)]="advancedService.page"
                  [pageSize]="advancedService.pageSize"
                >
                </ngb-pagination>
              </div>
            </div>
            <!-- End Pagination -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->
