<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Upload Record's Detail"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="button-items">
            <button type="button" class="btn btn-outline-primary">Edit</button>
            <button type="button" class="btn btn-outline-secondary">
              Review
            </button>
            <button type="button" class="btn btn-outline-success">
              Approval/Denial
            </button>
            <button type="button" class="btn btn-outline-info">Delete</button>
            <button type="button" class="btn btn-outline-warning">Print</button>
            <button type="button" class="btn btn-outline-danger">
              Instant Upload
            </button>
            <button
              type="button"
              class="btn btn-outline-light float-right"
              routerLink="/upload/list"
            >
              Back
            </button>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <label for="example-text-input" class="col-md-2 col-form-label"
              >Current status</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="text"
                value="Edit Request"
                id="example-text-input"
                readonly="true"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-search-input" class="col-md-2 col-form-label"
              >ID</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="search"
                value="alex@gmail.com"
                id="example-search-input"
                [readonly]="true"
              />
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Title</label>
            <div class="col-md-10 row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom01">Poster Image</label>
                  <dropzone class="dropzone"></dropzone>
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationCustom01">Poster Image</label>
                <dropzone class="dropzone"></dropzone>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-url-input" class="col-md-2 col-form-label"
              >Subtitle</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="search"
                value="Subtitle Details"
                id="example-url-input"
                [readonly]="true"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-tel-input" class="col-md-2 col-form-label"
              >Summary</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="search"
                value="Summary Details"
                id="example-tel-input"
                [readonly]="true"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-password-input" class="col-md-2 col-form-label"
              >Category</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="search"
                value="Movie/Action"
                id="example-password-input"
                [readonly]="true"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Participants</label>
            <div class="col-md-10 row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Director"
                    readonly="true"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Main Actor"
                    readonly="true"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Creater"
                    readonly="true"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Type</label>
            <div class="col-md-10 row">
              <div class="col-md-4">
                <select class="custom-select">
                  <option selected disabled>Open this select menu</option>
                  <option value="1">Season</option>
                  <option value="2">Standalone</option>
                </select>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Season"
                    readonly="true"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Episode"
                    readonly="true"
                  />
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder=""
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder=""
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Content</label>
            <div class="col-md-10 row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom01">Video</label>
                  <div
                    class="embed-responsive embed-responsive-16by9"
                    style="border-radius: 20px;"
                  >
                    <iframe
                      src="https://www.youtube.com/embed/1y_kfWUCFDQ"
                      class="embed-responsive-item"
                    ></iframe>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label for="validationCustom01">Thumbnail</label>
                <dropzone class="dropzone"></dropzone>
              </div>
            </div>
          </div>
          <br />
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Element</label>
            <div class="col-md-10 row">
              <div class="col-md-3">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Violence"
                    readonly="true"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Sexuality"
                    readonly="true"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Language"
                    readonly="true"
                  />
                </div>
              </div>
              <div class="" style="padding-left: 4px;">
                <div class="form-group">
                  <button type="button" class="btn btn-outline-primary">
                    None
                  </button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-outline-primary">
                    None
                  </button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-outline-primary">
                    None
                  </button>
                </div>
              </div>
              <div class="" style="padding-left: 4px;">
                <div class="form-group">
                  <button type="button" class="btn btn-outline-warning">
                    Little
                  </button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-outline-warning">
                    Little
                  </button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-outline-warning">
                    Little
                  </button>
                </div>
              </div>
              <div class="" style="padding-left: 4px;">
                <div class="form-group">
                  <button type="button" class="btn btn-outline-danger">
                    Many
                  </button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-outline-danger">
                    Many
                  </button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-outline-danger">
                    Many
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Element</label>
            <div class="col-md-10 row">
              <div class="col-md-3">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="validationCustom01"
                    placeholder="Age restrict"
                    readonly="true"
                  />
                </div>
              </div>
              <div class="" style="padding-left: 4px;">
                <div class="form-group">
                  <button type="button" class="btn btn-outline-primary">
                    Entire
                  </button>
                </div>
              </div>
              <div class="" style="padding-left: 4px;" style="padding-left: 4px;">
                <div class="form-group">
                  <div class="form-group">
                    <button type="button" class="btn btn-outline-primary">
                      12 years old
                    </button>
                  </div>
                </div>
              </div>
              <div class="" style="padding-left: 4px;">
                <div class="form-group">
                  <div class="form-group">
                    <button type="button" class="btn btn-outline-primary">
                      15 years old
                    </button>
                  </div>
                </div>
              </div>
              <div class="" style="padding-left: 4px;">
                <div class="form-group">
                  <div class="form-group">
                    <button type="button" class="btn btn-outline-primary">
                      19 years old
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-month-input" class="col-md-2 col-form-label"
              >Intro ending</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="search"
                id="example-month-input"
                [readonly]="true"
              />
            </div>
          </div>
          <div class="form-group row">
            <label for="example-month-input" class="col-md-2 col-form-label"
              >Outtro starting</label
            >
            <div class="col-md-10">
              <input
                class="form-control"
                type="search"
                id="example-month-input"
                [readonly]="true"
              />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label">Approve/Deny</label>
            <div class="col-md-10 row">
              <div class="col-md-4">
                <select class="custom-select">
                  <option selected disabled>Choose letter type</option>
                  <option value="1">Season</option>
                  <option value="2">Standalone</option>
                </select>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <button type="button" class="btn btn-primary">
                    Write letter
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="example-month-input" class="col-md-2 col-form-label"
              >Appropriacy chart</label
            >
            <div class="col-md-10">
              <dropzone class="dropzone"></dropzone>
            </div>
          </div>
          <br />
          <br />
          <div class="form-group row button">
            <div>
              <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/upload/list">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="card">
        <div class="card-body">
          <div class="text-muted text-center">
            <h4>Action History</h4>
            <div class="table-responsive mt-4">
              <table class="table table-centered mb-0">
                <tbody>
                  <tr>
                    <td>
                      <h5 class="font-size-14 mb-1">Manager A</h5>
                      <button type="button" class="btn btn-outline-primary">
                        Result letter
                      </button>
                    </td>

                    <td></td>

                    <td>
                      <p class="text-muted mb-1">22/02/20</p>
                      <h5 class="text-danger">Denial</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5 class="font-size-14 mb-1">Manager B</h5>
                      <button type="button" class="btn btn-outline-primary">
                        Result letter
                      </button>
                    </td>

                    <td></td>

                    <td>
                      <p class="text-muted mb-1">22/02/20</p>
                      <h5 class="text-success">Approval</h5>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h5 class="font-size-14 mb-1">Manager C</h5>
                      <button type="button" class="btn btn-outline-primary">
                        Result letter
                      </button>
                    </td>

                    <td></td>
                    <td>
                      <p class="text-muted mb-1">22/02/20</p>
                      <h5 class="text-success">Approval</h5>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>
