.inline {
	display: flex;
	justify-content: space-around;
	align-items: center;

	& > .search-box {
		width: 60%;
	}

	& > .set-filter {
		width: 100%;
	}
}

.bx-calendar:before {
    font-size: 18px;
}

