<div class="container-fluid">
  <!-- start page title -->
  <app-page-title
    title="Config List Set"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>
  <!-- end page title -->
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <a class="backButton">
            <mat-icon>arrow_back_ios</mat-icon
            ><span
              class="text-primary"
              routerLink="/show"
              style="font-size: 14px; padding-top: 1px;"
              >Return to list</span
            >
          </a>

          <form
            class="needs-validation"
            (ngSubmit)="validSubmit()"
            [formGroup]="validationform"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="validationCustom01">List set name</label>
                  <input type="text" value="Trending Now" id="example-text-input" class="form-control">
                  <div
                    *ngIf="submit && form.firstName.errors"
                    class="valid-feedback"
                  >
                    <span *ngIf="form.firstName.errors.required"
                      >Looks good!</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                <div>
                  <br />
                  <br />
                  <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck1"
                      checked="true"
                    />
                    <label class="custom-control-label" for="customCheck1"
                      >genre</label
                    >
                  </div>
                  <br />
                  <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck2"
                      checked="true"
                    />
                    <label class="custom-control-label" for="customCheck2"
                      >movie</label
                    >
                  </div>
                  <br />
                  <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck3"
                      checked="true"
                    />
                    <label class="custom-control-label" for="customCheck3"
                      >interested</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-2 ml-auto">
                <div class="mt-4 mt-lg-0">
                  <br />
                  <br />
                  <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck4"
                      checked="true"
                    />
                    <label class="custom-control-label" for="customCheck4"
                      >specific</label
                    >
                  </div>
                  <br />
                  <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck5"
                      checked="true"
                    />
                    <label class="custom-control-label" for="customCheck5"
                      >TV</label
                    >
                  </div>
                  <br />
                  <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck6"
                      checked="true"
                    />
                    <label class="custom-control-label" for="customCheck6"
                      >random</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="mt-4 mt-lg-0">
                  <br />
                  <br />
                  <div class="custom-control custom-checkbox mb-3">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck7"
                      checked="true"
                    />
                    <label class="custom-control-label" for="customCheck7"
                      >No loop</label
                    >
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-4 mt-lg-0">
                </div>
              </div>
              <div class="col-md-3">
                <div class="mt-4 mt-lg-0">
                </div>
              </div>
            </div>
            <hr style="border-top: 1pt solid #69e781;" />

            <div class="row">
              <div class="col-md-6" style="display: block;">
                <label for="validationCustom01">Add by category</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose...</option>
                    <option value="1">Korean Huy</option>
                    <option value="2">Comedy Huy</option>
                    <option value="3">Action Huy</option>
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-6" style="display: block;">
                <label for="validationCustom01">Add by tag</label>
                <div class="input-group">
                  <select class="custom-select" id="inputGroupSelect04">
                    <option selected>Choose...</option>
                    <option value="1">Korean Huy</option>
                    <option value="2">Comedy Huy</option>
                    <option value="3">Action Huy</option>
                  </select>
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">
                      Add
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <ngb-alert [dismissible]="false" type="success">
              Filter result:
            </ngb-alert>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="programName">
                  <th mat-header-cell *matHeaderCellDef>Program Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.programName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="playedMinutes">
                  <th mat-header-cell *matHeaderCellDef>Played Minutes</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.playedMinutes }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="viewCount">
                  <th mat-header-cell *matHeaderCellDef>View Count</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.viewCount }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>
                    <button
                      type="button"
                      class="btn btn-success btn-rounded"
                      target="_blank"
                    >
                      <i class="mdi mdi-plus mr-1"></i> Add all
                    </button>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <a href="javascript:void(0);"
                      ><mat-icon>archive</mat-icon></a
                    >
                  </td>
                </ng-container>

                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Category</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.category }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="specific">
                  <th mat-header-cell *matHeaderCellDef>Specific</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.specific }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="listName">
                  <th mat-header-cell *matHeaderCellDef>List Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.listName }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator>
            </div>
            <br />
            <hr style="border-top: 1pt solid #69e781;" />
            <ngb-alert [dismissible]="false" type="info">
              Movies/shows in list:
            </ngb-alert>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="programData">
                <ng-container matColumnDef="programName">
                  <th mat-header-cell *matHeaderCellDef>Program Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.programName }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="playedMinutes">
                  <th mat-header-cell *matHeaderCellDef>Played Minutes</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.playedMinutes }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="viewCount">
                  <th mat-header-cell *matHeaderCellDef>View Count</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.viewCount }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>
                    <button
                      type="button"
                      class="btn btn-success btn-rounded"
                      target="_blank"
                    >
                      <i class="mdi mdi-plus mr-1"></i> Add all
                    </button>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <a href="javascript:void(0);"
                      ><mat-icon>archive</mat-icon></a
                    >
                  </td>
                </ng-container>

                <ng-container matColumnDef="category">
                  <th mat-header-cell *matHeaderCellDef>Category</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.category }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="specific">
                  <th mat-header-cell *matHeaderCellDef>Specific</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.specific }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="listName">
                  <th mat-header-cell *matHeaderCellDef>List Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.listName }}
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <!-- <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
              ></mat-paginator> -->
            </div>
            <br />
            <br />
            <div class="form-group mb-0">
              <div>
                <button type="submit" class="btn btn-primary mr-1">
                  Submit
                </button>
                <button
                  type="reset"
                  class="btn btn-secondary"
                  routerLink="/show"
                >
                  Cancel
                </button>
              </div>
            </div>
          </form>
          <br />
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
