<div class="container-fluid">
  <app-page-title
    title="Show Management"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-primary">Show set list</h4>

          <div class="row mb-2">
            <div class="col-sm-4">
				<div class="search-box mr-2 mb-2 d-inline-block"><div class="position-relative"><input type="text" placeholder="Search..." class="form-control ng-pristine ng-valid ng-touched"><i class="bx bx-search-alt search-icon"></i></div></div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-right">
                <button
                  type="button"
                  class="btn btn-success btn-rounded mb-2 mr-2"
                  target="_blank"
                  routerLink="add"
                >
                  <i class="mdi mdi-plus mr-1"></i> Create New
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <!-- Table -->
          <mat-progress-bar mode="query" *ngIf="!rows"></mat-progress-bar>
          <div class="table-responsive" *ngIf="rows">
            <ngx-datatable
              class="material"
              [rows]="rows"
              [columnMode]="ColumnMode.force"
              [headerHeight]="50"
              [footerHeight]="50"
              rowHeight="auto"
              [limit]="10"
              [sorts]="[{ prop: 'name', dir: 'acs' }]"
            >
              <ngx-datatable-column name="List">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.list_name }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="List Type">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.list_type }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Program Count">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.program_count }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Edited Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.edited_date }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Belong">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.belong }}
                </ng-template>
              </ngx-datatable-column>

              <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="button-items">
                    <button type="button" class="btn btn-primary" routerLink="config">
                      Config
                    </button>
                    <button type="button" class="btn btn-light">
                      Delete
                    </button>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <!-- End table -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->
