<div class="container-fluid">
  <app-page-title
    title="Message"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center mt-2">Memberships</h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3 text-center">
              <h2 class="col-form-label">Basic</h2>
            </div>
            <div class="col-md-3 text-center">
              <h2 class="col-form-label">Standard</h2>
            </div>
            <div class="col-md-3 text-center">
              <h2 class="col-form-label">Premium</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 label">
              <label class="col-form-label">Fee</label>
              <label class="col-form-label">SD</label>
              <label class="col-form-label">HD</label>
              <label class="col-form-label">Preview</label>
              <label class="col-form-label">Unlimited preview video</label>
              <label class="col-form-label">Deactivate</label>
            </div>
            <div class="col-md-3 membership">
              <input class="form-control" type="text" placeholder="$500" />
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
            </div>
            <div class="col-md-3 membership">
              <input class="form-control" type="text" placeholder="$5000" />
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
            </div>
            <div class="col-md-3 membership">
              <input class="form-control" type="text" placeholder="$50000" />
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
              <select class="custom-select">
                <option selected disabled>Open this select menu</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer button">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-primary btn-lg">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->
