.label {
	display: flex;
	flex-direction: column;
	& label {
		margin-bottom: 30px;
	}
}

.membership {
	display: flex;
	flex-direction: column;
	& input {
		margin-bottom: 30px;
	}

	& select {
		margin-bottom: 30px;
	}
}

.button {
	display: flex;
	justify-content: center;
}
