<div class="container-fluid">
  <app-page-title
    title="Accessible"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-primary btn-lg">
                    Add Dept
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <ngx-datatable
                      class="material"
                      [rows]="dept"
                      [columnMode]="ColumnMode.force"
                      [loadingIndicator]="loadingIndicator"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      rowHeight="auto"
                    >
                      <ngx-datatable-column name="Dept List">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="row">
                            <div class="col-md-9">
                              {{ row.name }}
                            </div>
                            <div class="col-md-3">
                              <div class="button-items">
                                <button type="button" class="btn btn-primary">
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-primary btn-lg">
                    Add Team
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <ngx-datatable
                      class="material"
                      [rows]="team"
                      [columnMode]="ColumnMode.force"
                      [loadingIndicator]="loadingIndicator"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      rowHeight="auto"
                    >
                      <ngx-datatable-column name="Team List">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="row">
                            <div class="col-md-9">
                              {{ row.name }}
                            </div>
                            <div class="col-md-3">
                              <div class="button-items">
                                <button type="button" class="btn btn-primary">
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card">
                <div class="card-header">
                  <button class="btn btn-primary btn-lg">
                    Add Employee
                  </button>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <ngx-datatable
                      class="material"
                      [rows]="employ"
                      [columnMode]="ColumnMode.force"
                      [loadingIndicator]="loadingIndicator"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      rowHeight="auto"
                    >
                      <ngx-datatable-column name="Employee List">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="row">
                            <div class="col-md-9">
                              {{ row.name }}
                            </div>
                            <div class="col-md-3">
                              <div class="button-items">
                                <button type="button" class="btn btn-primary">
                                  Delete
                                </button>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row access">
            <div class="col-8">
              <div class="card">
                <div class="card-header">
                  <h2>Accessible Menu</h2>
                </div>
                <div class="card-body">
                  <button class="btn btn-primary btn-lg" (click)="userModal()">
                    Menu Add
                  </button>
                  <div class="table-responsive">
                    <ngx-datatable
                      class="material"
                      [rows]="access"
                      [columnMode]="ColumnMode.force"
                      [loadingIndicator]="loadingIndicator"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      rowHeight="auto"
                    >
                      <ngx-datatable-column name="Large Category">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{ row.large }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Medium Category">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{ row.mid }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Small Category">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          {{ row.small }}
                        </ng-template>
                      </ngx-datatable-column>
                      <ngx-datatable-column name="Action">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                          <div class="button-items">
                            <button type="button" class="btn btn-primary">
                              Delete
                            </button>
                          </div>
                        </ng-template>
                      </ngx-datatable-column>
                    </ngx-datatable>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-fluid -->
