<div class="container-fluid">
	<app-page-title
		title="Message"
		[breadcrumbItems]="breadCrumbItems"
	></app-page-title>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<div class="card-header">
						<a class="backButton" routerLink="/customer/problems">
							<mat-icon>arrow_back_ios</mat-icon>
							<span style="font-size: 14px; padding-top: 1px;"
								>Return to list
							</span>
						</a>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<h2 class="text-center">Problem Details</h2>
								</div>
								<div class="card-body">
									<form>
										<div class="form-group row">
											<label
												for="example-text-input"
												class="col-md-2 col-form-label"
												>Categories</label
											>
											<div class="col-md-5">
												<div class="row">
													<div class="col-md-8">
														<select class="custom-select">
															<option selected disabled
																>Open this select menu</option
															>
															<option value="1">One</option>
															<option value="2">Two</option>
															<option value="3">Three</option>
														</select>
													</div>
												</div>
											</div>
										</div>

										<div class="form-group row">
											<label
												for="example-text-input"
												class="col-md-2 col-form-label"
												>Title</label
											>
											<div class="col-md-10">
												<input
													class="form-control"
													type="text"
													placeholder="Program A"
												/>
											</div>
										</div>
										<div class="form-group row">
											<label
												for="example-text-input"
												class="col-md-2 col-form-label"
												>Details</label
											>
											<div class="col-md-10">
												<textarea
													class="form-control"
													type="text"
													placeholder="Content Infor Display Errors"
													rows="20"
												></textarea>
											</div>
										</div>
										<div class="form-group row">
											<label
												for="example-text-input"
												class="col-md-2 col-form-label"
												>Sending To</label
											>
											<div class="col-md-10">
												<mat-radio-group aria-label="Select an option">
													<mat-radio-button value="1" checked
														>Basic</mat-radio-button
													>
													<mat-radio-button value="2"
														>Standard</mat-radio-button
													>
												</mat-radio-group>
												<div class="row">
													<div class="col-md-8">
														<input
															class="form-control"
															type="text"
															placeholder="User"
														/>
													</div>
													<div class="col-md-4">
														<button class="btn btn-primary">
															User Search
														</button>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group row">
											<label
												for="example-text-input"
												class="col-md-2 col-form-label mt-2"
												>Schedule Set</label
											>
											<div class="col-md-5">
												<div class="row">
													<div>
														<mat-form-field appearance="fill">
															<mat-label>Choose a date</mat-label>
															<input matInput [matDatepicker]="date" readonly />
															<mat-datepicker-toggle matSuffix [for]="date">
																<mat-icon matDatepickerToggleIcon
																	>keyboard_arrow_down</mat-icon
																>
															</mat-datepicker-toggle>
															<mat-datepicker #date></mat-datepicker>
														</mat-form-field>
														<mat-datepicker #date></mat-datepicker>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row button">
						<div>
							<button type="submit" class="btn btn-primary btn-lg mr-5">
								Save
							</button>
							<button type="reset" class="btn btn-secondary btn-lg">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- container-fluid -->
